.roulette-wheel-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  .buttons-container {
    display: flex;

    gap: 16px;
  }
}

.roulette-options-container {
  display: flex;
  flex-direction: column;

  width: 100%;

  gap: 8px;
}

.option-container-header {
  display: flex;

  width: 100%;

  gap: 8px;
}

.add-new-option-container {
  display: flex;

  width: 100%;

  gap: 8px;

  .new-option-button {
    display: flex;
    align-items: center;

    height: 25px;

    background-color: green;
  }
}

.input-with-icon {
  display: flex;
  align-items: center;

  width: 100%;

  gap: 4px;

  .input {
    width: 100%;
  }
}

.input-with-label {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .label {
    position: absolute;
    bottom: -15px;

    display: flex;

    color: red;
    font-size: 10px;
  }
}

.options-list-container {
  display: flex;
  flex-direction: column;

  gap: 8px;

  .option-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .remove-button {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 25px;

      background-color: red;
    }
  }
}
