.roulette-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  gap: 8px;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  .header-label {
    width: 100%;
    font-size: 50px;
  }

  .settings-button {
    padding: 4px;
    background-color: transparent;

    .button {
      width: 25px;
      width: 25px;
    }
  }
}
